.root{
    -fx-font-size: 14pt;
    -fx-font-family: "Calibri";
    -fx-background-color: #B3B492;
};

/* start of text area */
.text-area .content { 
    -fx-background-color: text-area-background;
}

.text-area {
	text-area-background: #0a5c41;
	-fx-font-size: 15pt;

    -fx-font-weight: bold;
    -fx-control-inner-background: #B3B492;
    -fx-highlight-fill: #004BA8;
    -fx-highlight-text-fill: #3E78B2; 
    -fx-text-fill: #576066;
    -fx-font-size: 16pt;
}

/* End of text area */

.tab-header-background {
    -fx-background-color: #B3B492;
}
.tab-pane {
  -fx-tab-min-width:60px;
  -fx-tab-max-width:60px;
  -fx-tab-min-height:25px;
  -fx-tab-max-height:25px;
}

.tab {
  -fx-font-family: Arial;
  -fx-font-size: 14;
  -fx-background-color: #707068;
}

.tab:selected {
    -fx-background-color: #707068;
}

/* Scroll bar colors */
.scroll-pane {
    -fx-background-color: #B3B492;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: #B3B492;
}

.increment-button, .decrement-button {
    -fx-background-color: #B3B492;
    -fx-border-color: #B3B492;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: #B3B492;
    -fx-border-color: #B3B492;
    -fx-padding: 1;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #576066;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}
.scroll-pane > .corner {
    -fx-background-color: #B3B492;
}
.scroll-bar:vertical {
}

.scroll-bar:horizontal {
}


/* End of scroll bars */

}

.context-menu {
  -fx-background-color: #B3B492;
  -fx-text-fill: white;
}

.menu-item .label {
  -fx-text-fill: #576066;
}

.menu-item:focused .label {
  -fx-text-fill: white;
}